{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <h1>Hello, world!</h1>
    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas faucibus mollis interdum. Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
    <p><a class="btn btn-primary btn-lg" href="/pain" role="button">Get Started Now</a></p>
  </div>
</div>
{% endblock %}
