{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Tell us more <small>...</small></h1>
  </div>
  <div class="row">
    <form class="form-horizontal">
      <fieldset>

        <!-- Form Name -->
        <legend>Employment</legend>

        <!-- Multiple Radios -->
        <div class="control-group">
          <label class="control-label" for="radios">Are you presently employed?</label>
          <div class="controls">
            <label class="radio" for="radios-0">
              <input type="radio" name="radios" id="radios-0" value="Yes" checked="checked">
              Yes
            </label>
            <label class="radio" for="radios-1">
              <input type="radio" name="radios" id="radios-1" value="No">
              No
            </label>
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="textinput">How many hours do you work per week on average?</label>
          <div class="controls">
            <input id="textinput" name="textinput" type="text" placeholder="" class="input-xlarge">
          </div>
        </div>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="textinput">What is your hourly wage?</label>
          <div class="controls">
            <input id="textinput" name="textinput" type="text" placeholder="placeholder" class="input-xlarge">
            <p class="help-block">help</p>
          </div>
        </div>

      </fieldset>
      <fieldset>

        <!-- Form Name -->
        <legend>Free Time</legend>

        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="textinput">How many hours of free time do you have per week?</label>
          <div class="controls">
            <input id="textinput" name="textinput" type="text" placeholder="" class="input-xlarge">

          </div>
        </div>

        <!-- Textarea -->
        <div class="control-group">
          <label class="control-label" for="textarea">What kinds of things do you LIKE to do in your free time?</label>
          <div class="controls">
            <textarea id="textarea" name="textarea"></textarea>
          </div>
        </div>

      </fieldset>
      <fieldset>

        <!-- Form Name -->
        <legend>Food</legend>

        <!-- Multiple Checkboxes -->
        <div class="control-group">
          <label class="control-label" for="checkboxes">You said you're having a hard time with food, could you explain that a bit more?</label>
          <div class="controls">
            <label class="checkbox" for="checkboxes-0">
              <input type="checkbox" name="checkboxes" id="checkboxes-0" value="I'm food insecure / having a hard time affording food">
              I'm food insecure / having a hard time affording food
            </label>
            <label class="checkbox" for="checkboxes-1">
              <input type="checkbox" name="checkboxes" id="checkboxes-1" value="I'd like better quality / cleaner food">
              I'd like better quality / cleaner food
            </label>
            <label class="checkbox" for="checkboxes-2">
              <input type="checkbox" name="checkboxes" id="checkboxes-2" value="I want to eat locally sourced food">
              I want to eat locally sourced food
            </label>
            <label class="checkbox" for="checkboxes-3">
              <input type="checkbox" name="checkboxes" id="checkboxes-3" value="I want to learn more about freely available food">
              I want to learn more about freely available food
            </label>
          </div>
        </div>

        <!-- Textarea -->
        <div class="control-group">
          <label class="control-label" for="textarea">What would you say is your greatest obstacle to overcoming your food problems?</label>
          <div class="controls">
            <textarea id="textarea" name="textarea"></textarea>
          </div>
        </div>

      </fieldset>
      <p><a class="btn btn-success form-control form-submit" href="results">Submit</a></p>
    </form>
  </div>
  <div class="container">

  </div>
</div>
{% endblock %}
