{% extends "FOSUserBundle::layout.html.twig" %}

{% block page_header %}
    <h2>Settings</h2>
{% endblock %}

{% block content %}
	<p>
		<a class="btn" href="{{ path('fos_user_change_password') }}">
			<i class="icon-lock"></i>
			Change Password
		</a>
	</p>
{% endblock %}