{% extends "FOSUserBundle::layout.html.twig" %}

{% block page_header %}
    <h2>Change Password <a href="{{ path('fos_user_profile_show') }}" class="btn">Cancel</a></h2>
{% endblock %}

{% block content %}
	{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock %}